
packages/Castle.Core.3.3.3/ASL - Apache Software Foundation License.txt

packages/Castle.Core.3.3.3/BreakingChanges.txt

packages/Castle.Core.3.3.3/Castle.Core.3.3.3.nupkg

packages/Castle.Core.3.3.3/readme.txt

packages/Castle.Core.3.3.3/License.txt

packages/Castle.Core.3.3.3/lib/sl5/Castle.Core.xml

packages/Castle.Core.3.3.3/lib/net35/Castle.Core.dll

packages/Castle.Core.3.3.3/Changes.txt

packages/Castle.Core.3.3.3/lib/net35/Castle.Core.xml

packages/Castle.Core.3.3.3/lib/net40-client/Castle.Core.dll

packages/Castle.Core.3.3.3/lib/net40-client/Castle.Core.xml

packages/Castle.Core.3.3.3/lib/net45/Castle.Core.dll

packages/Castle.Core.3.3.3/lib/net45/Castle.Core.xml

packages/Castle.Core.3.3.3/lib/sl4/Castle.Core.dll

packages/Castle.Core.3.3.3/lib/sl5/Castle.Core.dll

packages/Castle.Core.3.3.3/lib/sl4/Castle.Core.xml

CleanAOP/bin/Debug/Castle.Core.dll

CleanAOP/bin/Debug/Castle.Core.xml

CleanAOP/bin/Debug/CleanAOP.dll

CleanAOP/bin/Debug/CleanAOP.pdb

CleanAOP/obj/Debug/CleanAOP.csproj.FileListAbsolute.txt

CleanAOP/obj/Debug/CleanAOP.csprojResolveAssemblyReference.cache

CleanAOP/obj/Debug/CleanAOP.dll

CleanAOP/obj/Debug/CleanAOP.pdb

CleanAOP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

CleanAOP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

CleanAOP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

CleanAOP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Test.WPF/bin/Debug/Castle.Core.dll

Test.WPF/bin/Debug/Castle.Core.xml

Test.WPF/bin/Debug/CleanAOP.dll

Test.WPF/bin/Debug/CleanAOP.pdb

Test.WPF/bin/Debug/Test.WPF.exe

Test.WPF/bin/Debug/Test.WPF.exe.config

Test.WPF/bin/Debug/Test.WPF.pdb

Test.WPF/bin/Debug/Test.WPF.vshost.exe

Test.WPF/bin/Debug/Test.WPF.vshost.exe.config

Test.WPF/bin/Debug/Test.WPF.vshost.exe.manifest

Test.WPF/obj/Debug/App.g.cs

Test.WPF/obj/Debug/App.g.i.cs

Test.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Test.WPF/obj/Debug/Test.WPF.Properties.Resources.resources

Test.WPF/obj/Debug/Test.WPF.pdb

Test.WPF/obj/Debug/Test.WPF.g.resources

Test.WPF/obj/Debug/Test.WPF.csprojResolveAssemblyReference.cache

Test.WPF/obj/Debug/Test.WPF.exe

Test.WPF/obj/Debug/Test.WPF.csproj.FileListAbsolute.txt

Test.WPF/obj/Debug/Test.WPF.csproj.GenerateResource.Cache

Test.WPF/obj/Debug/Test.WPF_MarkupCompile.i.lref

Test.WPF/obj/Debug/Test.WPF_MarkupCompile.lref

Test.WPF/obj/Debug/Test.WPF_MarkupCompile.i.cache

Test.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

Test.WPF/obj/Debug/Test.WPF_MarkupCompile.cache

Test.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

Test.WPF/obj/Debug/MainWindow.baml

Test.WPF/obj/Debug/MainWindow.g.cs

Test.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

Test.WPF/obj/Debug/MainWindow.g.i.cs
